
.flex {
    display: flex;
    justify-content: space-between;
}

.guide {
    width: 510px;
    background-color: white;
    margin-top: 2rem;
    border-radius: 8px;
    padding:1rem 1.5rem;

    img {
        margin: 1rem 0;
        background-size: contain;
    }

    h4 {
        font-weight: 700;
        font-size: 16px;
    }

    p {
        font-weight: 300;
        margin-top: 2rem;
    }
}

.image_container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .main {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 900px) {
    .flex {
        display: flex;
        flex-direction: column;
    }
    
    .guide {
        width: 100%;
        margin-top: 0;
        padding:1rem;

        img {
            margin: 1rem 0;
            width: 169px;
        }
    
        h4 {
            text-align: center;
            font-size: 16px;
            margin-bottom: 2rem;
        }

        p {
            text-align: start;
            font-weight: 300;
        }
    
    }
    


}