@use "../../functions.scss" as *;

.container {
        padding-block: pix-rem(32);
        padding-inline: pix-rem(20);
        .logos {
                margin-top: pix-rem(40);
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-flow: row wrap;
                max-width: pix-rem(1200);
                margin-inline: auto;
                @include media(1228px) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: pix-rem(16);
                }
        }
        .title {
                text-align: center;
                font-size: pix-rem(32);
                font-weight: 600;
        }
        .display {
                width: min(100%, pix-rem(200));
        }
}
