@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600;700&display=swap');

*, *::before, *::after {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, input, textarea, label, span, button {
  font-family: 'Kanit', sans-serif;
}

.sect__container {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}


