.uploaded_recordings {
  padding: 2rem;
  background: #f9f9f9;
}
.uploaded_header {
  display: flex;
  justify-content: space-between;

  h1,
  h2 {
    font-family: "Kanit";
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
}
.est_time_left_num {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #006cff;
}

.uploaded_table_wrap {
  background: #ffffff;
  margin-top: 1rem;
}

.uploaded_table {
  border-collapse: collapse;
  margin: 25px 0;
  width: 100%;
  background: #ffffff;
}

.uploaded_table thead {
  text-align: left;
  border-bottom: 1px solid #a9a9a9;
}

.uploaded_table thead tr {
  text-align: left;
}

.uploaded_table th {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  padding: 20px 15px;

  color: #706f6f;
  word-wrap: break-word;
}

.uploaded_table td {
  font-family: "Kanit";
  padding: 20px 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  color: #535353;
  .failed {
    color: #ff291b !important;
    margin-right: 15px;
  }

  .processing {
    color: #feb80a !important;
  }

  .successful {
    color: #3bb031 !important;
  }
  .retry {
    color: #006cff !important;
    margin-left: 10px;
  }
}

.uploaded_table_body_checkbox_img_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .uploaded_recordings {
    padding: 1rem;
  }
  .uploaded_header h1 {
    font-size: 16px;
  }
  .uploaded_header {
    h2 {
      display: none !important;
    }
  }

  .uploaded_table {
    border: 0;
    th,
    td {
      font-size: 14px;
      padding: 10px 3px;
    }
  }

  .uploaded_table-row th:nth-child(7) {
    display: none;
  }

  .uploaded_table tbody {
    .uploaded_table_body_cell_img,
    .delete-icon {
      display: none;
    }
  }
}

// options for the table styles
.uploaded_recordings_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  .bulkbtn_calbackurl_wrap {
    display: flex !important;
    margin-left: 2rem;
    .bulkselect_wrap {
      margin-right: 2rem;
    }
    .calbackurl_wrap {
      // width: 350px;
      word-wrap: break-word;
      // display: flex;
      p {
        font-family: "Kanit";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        color: #434343;
      }
      .callback_url {
        margin-right: 1rem;
        font-family: "Kanit";
        span {
          color: #006cff;
          border-bottom: 1px solid #006cff;
        }
      }
    }
  }
  .view_resultbtn {
    border-radius: 4px;
    padding: 15px 25px;
    font-family: "Kanit";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #c5c5c5;
    border: none;
  }
  .disabled {
    background: #ececec;
    cursor: not-allowed;
  }
  .active {
    background: #006cff;
    cursor: pointer;
  }

  //custom select
  .bulkselect_wrap {
    position: relative;
    .bulkselect {
      width: 200px;
      height: 60px;
      border: 1px solid #c5c5c5;
      border-radius: 4px;
      padding: 0 1rem;
      font-family: "Kanit";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #434343;
      background: #ffffff;
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      background-image: url("./imgs/select-arrow.svg");
      background-repeat: no-repeat;
      background-position: right 0.7rem top 50%;
      background-size: 1rem auto;
      &:focus {
        outline: none;
        // background: #e6f0ff;
        color: #006cff;
        border: 1px solid #006cff;
      }
      option {
        position: absolute;
        top: 100%;
        left: 0;
        width: 104px !important;
        height: 74px !important;
        padding: 1rem 0;
        background-color: #ffffff !important;
        color: #535353;
        border-bottom: 0.5px solid rgba(18, 18, 18, 0.15);
        z-index: 1;
        font-family: "Kanit";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

