* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$text-color: white;
$error: #de3d31;

@mixin flexColumn {
	display: flex;
	flex-direction: column;
}
@mixin flexBtw {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper {
	padding: 0 1rem;

	.header {
		font-size: 1rem;
		font-weight: 600;
		margin: 1rem 0 1.625rem;
	}

	.profileCard {
		display: flex;
		align-items: center;
		background-image: url("/assets/images/profile_bg.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border-radius: 8px;
		gap: 1rem;
		padding: 1.5rem;

		img {
			width: 100%;
		}

		.textContent {
			color: $text-color;
			@include flexColumn;
			gap: 0.5rem;

			h2 {
				font-size: 1.5rem;
				font-weight: 700;
			}

			.title {
				font-size: 0.875rem;
				font-weight: 600;
			}

			.email {
				font-size: 0.75rem;
			}
		}
	}

	.options {
		a {
			text-decoration: none;
			color: #3F3F3F;

			p {
				color: #6a6a6a;

				
			}
		}
	}

	.card {
		@include flexColumn();
		padding: 1.5rem;
		margin-block: 0.25rem;
		gap: 0.75rem;

		&:nth-child(1) {
			margin-top: 1rem;
		}

		&:hover {
			background-color: #e6f0ff;

			p {
                    color: #002D6B;
                }
		}

		.header {
			@include flexBtw();

			.heading {
				font-size: 1rem;
				font-weight: 600;
			}
		}

		a {
			text-decoration: none;
		}

		p {
			font-size: 1rem;
			font-weight: 300;
		}
	}

	.error {
		margin-top: 2.5rem;

		.errorBtn {
			background-color: $error;
			color: $text-color;
			text-decoration: none;
			font-size: 1rem;
			font-weight: 500;
			padding: 1rem 2rem;
			display: inline-block;
		}
	}
}
.external {
	width: 40%;
}

@media (min-width: 768px) {
	.container {
		display: flex;
		gap: 1rem;
	}
	.external {
		width: 100%;
		order: 2;
		.wrapper {
			margin-left: 0;
		}
	}

	.wrapper {
		order: 1;
		width: 60%;
		.card {
			.header {
				.heading {
					font-size: 1.25rem;
				}
			}

			p {
				font-size: 1.25rem;
			}
		}
	}
}

@media (min-width: 1024px) {
	.wrapper {
		width: 51%;
	}
	.container {
		display: flex;
		gap: 1.5rem;
	}
}

@media (min-width: 1440px) {
	.external {
		width: 40%;
	}
	.wrapper {
		width: 32%;
	}
	.container {
		display: flex;
		gap: 4rem;
	}
}
