@use "../../functions.scss" as *;

.footer {
        padding-inline: pix-rem(16);
        background-color: #006cff;

        color: white !important;
        padding-block: pix-rem(70);
        h4 {
                color: white;
                font-size: pix-rem(20) !important ;
        }
        p {
                color: white;
        }

        &__content {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: pix-rem(16);
        }
        &__middle {
                display: flex;

                justify-content: space-between;
                gap: pix-rem(20);
                flex-wrap: wrap;
                & > ul > li {
                        font-weight: 300;
                        color: rgba(255, 255, 255, 0.873);
                }
                & > ul > h4 {
                        font-weight: bold;
                        font-size: pix-rem(20) !important;
                }
        }
        &__content {
                width: min(100%, pix-rem(1300));
                margin-inline: auto;
                margin-block: pix-rem(24);
        }
        &__right {
                & > h4 {
                        font-weight: bold;
                        font-size: pix-rem(20) !important;
                }
                &__contact {
                        display: flex;
                        margin-top: pix-rem(16);
                        align-items: center;
                        gap: pix-rem(12);
                }
        }

        &__bottom {
                padding-block: pix-rem(32);
                border-top: 2px solid white;
                text-align: center;

        }
}
