.body {
    background-color: #FBF9F6;
}
.general {
    padding: 0 5rem;
}

.contact {
    text-align: center;
    margin: 5rem 0;
    font-size: 18px;

    p {
        font-weight: 300;
    }

    a {
        text-decoration: none;
        color: #002D6B;
    }
}

@media screen and (max-width: 900px) {
    
    .general {
        padding: 0 1rem;
    }
    
    
    
}