@import "../../../../assets/styles/utilities/functionsANDmedia";

.aside__container {
  flex: 0.15 1 pix-rem(322);
  display: flex;
  flex-direction: column;
  gap: pix-rem(24);
  background-color: #f9f9f9;
  box-shadow: -2px 0px 20px rgba(48, 48, 48, 0.205);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  cursor: auto;

  @include mediaQuery(768px) {
    position: fixed;
    top: 0;
    right: 0;
    max-width: pix-rem(500);
    overflow-y: scroll;
    height: 100%;
  }

  @include mediaQuery(1200px) {
    flex: 0.5 1 pix-rem(250);
  }

  .back {
    display: flex;
    font-size: pix-rem(20);
    font-weight: 400;
    color: #3f3f3f;
    margin-top: pix-rem(32);
    gap: 0.5em;
    padding: pix-rem(16);

    .back__content {
      display: flex;
      cursor: pointer;
    }
  }

  .inner__container {
    width: 100%;
    padding: pix-rem(16);
    display: flex;
    gap: pix-rem(16);
    background-color: white;
    border-radius: pix-rem(4);
  }

  .overall__sentiment {
    flex-direction: column;
    .title {
      color: #1d1d1d;
      font-size: pix-rem(20);
      font-weight: 400;
    }

    .sentiment__chart {
      margin-left: auto;
      margin-right: auto;
      width: pix-rem(200);
      height: pix-rem(200);

      img {
        object-fit: contain;
        width: 100%;
      }
    }

    .sentiment__chart__legend {
      margin: pix-rem(6) 0;

      .chart__legend__item {
        font-weight: 300;
        font-size: pix-rem(14);
        color: #535353;
        display: flex;
        align-items: center;
        gap: pix-rem(8);

        .item__icon {
          width: pix-rem(12);
          height: pix-rem(12);
          border-radius: 50%;
        }

        .positive {
          background-color: #76c86f;
        }

        .neutral {
          background-color: #ffce54;
        }

        .negative {
          background-color: #ff7589;
        }
      }
    }
  }

  .verdict {
    flex-direction: column;
    font-size: pix-rem(16);
    font-weight: 300;
    gap: pix-rem(24);

    .verdict__item {
      display: flex;
      flex-direction: column;
      gap: pix-rem(24);
      .verdict__title {
        color: #454545;
      }

      .verdict__bar {
        width: 80%;
        font-size: pix-rem(12);
        line-height: pix-rem(16);
        height: pix-rem(16);
        border: 0.5px solid #8ab1c6;
        border-radius: 1em;
        position: relative;

        .inner__bar {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          border-radius: 1em;
          background-color: #8ab1c6;
          mix-blend-mode: multiply;
        }

        .bar__text {
          text-align: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .final__verdict {
        font-size: pix-rem(20);
        font-weight: 500;
        color: #1d1d1d;
      }
    }

    .verdict__download {
      display: flex;
      justify-content: flex-end;
      gap: pix-rem(20);

      button {
        padding: pix-rem(12);
        background-color: transparent;
        border-radius: pix-rem(4);
        border: 1px solid #006cff;
        color: #006cff;
        font-size: pix-rem(16);
        font-weight: 500;
      }

      .download__button {
        display: flex;
        align-items: center;
        gap: pix-rem(17);

        .dropdown__container {
          border-left: 0.5px solid #3389ff;
          padding-left: pix-rem(12);
        }
      }
    }
  }

  .tags {
    flex-direction: column;

    .title {
      font-size: pix-rem(16);
      font-weight: 400;
      color: #535353;
    }

    .tag__items {
      display: flex;
      gap: pix-rem(36);
      flex-wrap: wrap;
      justify-content: space-evenly;

      li {
        padding: pix-rem(2) pix-rem(20);
        background-color: #e6eef399;
        border-radius: 1em;
        cursor: pointer;
      }
    }
  }
}

.open__aside {
  transform: none;
}
