@use "./_mixins.scss" as mixins;

.agentDetails {
  max-height: 100%;
  padding: 25px 10px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  @include mixins.sm {
    height: 444px;
    padding: 20px 15px;
    width: 38%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .details {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .firstp {
    font-size: 14px;
    margin-bottom: 10px;
    color: #3F3F3F;
  }
  .secondp {
    font-size: 16px;
    color: #3F3F3F;
  }
  .callDetails {
    justify-content: space-between;
    display: flex;
    margin: 10px 0px 10px 0px;
    padding: 8px;
    border-radius: 8px;
    background-color: #ececec;
    gap: 8px;
    @include mixins.sm {
      margin: 0px;
    }

    .title {
      width: 48%;
    }
    .number {
      font-weight: bold;
      width: 30%;
    }
  }
}

// .agentDetails {
//   max-height: 100%;
//   padding: 30px 5px;
//   width: 100%;
//   background-color: white;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
//   border-radius: 10px;
//   .firstp {
//     font-size: 14px;
//   }
//   .secondp {
//     font-size: 20px;
//   }
//   .callDetails {
//     justify-content: space-between;
//     display: flex;
//     margin: 10px 0px 10px 0px;
//     padding: 8px;
//     border-radius: 8px;
//     background-color: #ececec;
//     gap: 8px;
//     .title {
//       width: 45%;
//     }
//     .number {
//       font-weight: bold;
//       width: 30%;
//     }
//   }
// }
