@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600;700&display=swap');

*, *::before, *::after {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, input, textarea, label, span, button {
  font-family: 'Kanit', sans-serif;
}

.sect__container {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

// Styling of the section one

.first__section {
    margin-top: 3em;

    .first__heading {
        width: 100%;
    }

    .first__heading .first__head {
        font-size: 1rem;
        color: #313131;
        font-weight: 600;
        fill: solid;
        line-height: 1.5rem;
    }
}

.second__section {
    margin-top: 1em;
    

    .left__container .left__hero {
        text-align: center;
    }

    .left__container .left__date {
        margin-bottom: .5em;
    }

    .left__container .date__month, .left__subtext .left__text {
        font-size: .7rem;
        color: #313131;
        font-weight: 300;
        font-style: light;
        fill: solid;
        line-height: 1rem;
    }

    .desktop__text {
        display: none;
    }

    .left__subtext {
        margin-bottom: 2em;
    }

    hr {
        background-color: #eee;
        border: 0 none;
        color: #eee;
        height: 1px;
    }
}