@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600;700&display=swap');

*, *::before, *::after {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, input, textarea, label, span, button {
  font-family: 'Kanit', sans-serif;
}

.sect__container {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}


// Styling of the section one

.section__one {
    margin-top: 3em;

    .hero__head{
        font-size: 1.25rem;
        color: #313131;
        font-weight: 600;
        fill: solid;
        line-height: 2.5rem;
    }

    .hero__head .hero__inline {
        color: #0062E8;
    }

    .hero__subhead {
        margin-bottom: .5em;
    }

    .hero__subhead .hero__subtext {
        font-size: .8rem;
        color: #313131;
        font-weight: 300;
        font-style: light;
        fill: solid;
        line-height: 1.25rem;
    }
}

// Styling of the section two

// .section__two {
//     background: url('~/public/myAssets/pressHero.png') no-repeat;
// }


// Styling of the section three

.section__three {

    .three__left {
        display: none;
    }

    .three__top {
        margin: 1em auto;
        width: 80%;
    }

    .three__heading {
        font-size: .7rem;
        color: #313131;
        font-weight: 600;
        font-style: bold;
        fill: solid;
        line-height: 1.2rem;
    }

    .three__bottom {
        width: 58%;
        margin: 0 auto;
    }

    .three__bottom .three__flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
    }

    .three__each {
        width: 45%;
        text-align: center;
    }

    .three__each .three__sep {
        border-bottom: 1px solid #cccc;
        border-bottom-width: 1px thick;
    }

    .three__each .three__head, .three__sep .three__head {
        font-size: .8rem;
        color: #313131;
        font-weight: 600;
        font-style: bold;
        fill: solid;
        line-height: 1.2rem;
    }

    .three__sep .three__head {
        // margin-left: .2em;
    }

    .three__each .three__text, .three__sep .three__text {
        font-size: .6rem;
        color: #313131;
        font-weight: 300;
        font-style: light;
        fill: solid;
        line-height: 1.2rem;
    }
}

// Styling of the section four

.section__four {
    margin-top: 3em;

    .four__heading {
        margin-bottom: 1em;
    }

    .four__heading .four__head {
        font-size: .9rem;
        color: #313131;
        font-weight: 600;
        font-style: bold;
        fill: solid;
        line-height: 1.2rem;
    }

    .four__cards {
        width: 70%;
        margin: 0 auto;
    }

    .four__cards .card__container {
        margin-bottom: 1.1em;
    }
}

// Styling of the section five

.section__five {
    margin-top: 3em;

    .five__top {
        display: flex;
        margin-bottom: 1em;
    }

    .five__top .point__link {
        font-size: .8rem;
        color: #313131;
        font-weight: 600;
        font-style: bold;
        fill: solid;
        line-height: 1.2rem;
    }

    .five__top .five__pointlinks {
        margin-left: 1em;
    }

    .five__bottom {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4em;
    }

    .five__bottom .five__articles {
        display: flex;
        flex-direction: column;
        width: 80%;
        flex-basis: 45%;
    }

    .five__bottom .five__articles .each__icon {
        width: 100%;
    }

    .five__bottom .five__articles .five__heading {
        margin-top: .5em;
        width: 100%;
    }

    .five__bottom .five__articles .five__head {
        font-size: .7rem;
        color: #313131;
        font-weight: 600;
        font-style: bold;
        fill: solid;
        line-height: 1.2rem;
    }

    .five__bottom .five__articles .five__subtext {
        margin-top: .5em;
        width: 100%;
    }

    .five__bottom .five__articles .five__texts {
        font-size: .6rem;
        color: #313131;
        font-weight: 300;
        font-style: light;
        fill: solid;
        line-height: 1rem;
    }

    .five__bottom .five__articles .more__details {
        display: flex;
        align-items: center;
    }

    .five__bottom .five__articles .read__more {
        font-size: .5rem;
        color: #313131;
        font-weight: 300;
        font-style: light;
        fill: solid;
        line-height: 1rem;
    }

    .five__bottom .five__articles .arrowleft {
        width: .7rem;
        margin-left: .2em;
    }
}




@media (min-width: 768px) {

    // Styling of the section one

    .section__one {
        margin-top: 3em;

        .hero__head{
            font-size: 2rem;
        }

        .hero__subhead .hero__subtext {
            font-size: .8rem;
            font-weight: 500;
            font-style: medium;
        }
    }

    // Styling of the section three

    .section__three {

        margin-top: 3em;

        .three__center {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 90%;
        }

        .three__left {
            display: block;
            width: 30%;
        }

        .three__right {
            width: 60%;
        }

        .three__top {
            margin: 1em 0;
            width: 100%;
        }

        .three__heading {
            font-size: 1rem;
            color: #313131;
            font-weight: 600;
            font-style: bold;
            fill: solid;
            line-height: 1.2rem;
        }

        .three__bottom {
            // width: 65%;
            margin: 0 auto;
        }

        .three__bottom .three__flex {
            display: flex;
            // justify-content: space-between;
            // margin-bottom: 1em;
        }
    }
}