@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 10px;
}


.container {
    max-width: 121.6rem;
    margin: 0 auto;
}
.banner {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    
}

.banner h1{
    font-size: 4.8rem;
    padding-top: 15%;
    font-weight: 600;
    color: #1D1D1D;
}

.banner p {
    font-size: 2rem;
    font-weight: 300;
    color: #454545;
}

.card {
    width: 98%;
    margin: 7% auto;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    border: 1px solid #C5C5C5;
    border-radius: 8px;
    padding: 3%;
    box-shadow: 0 8px 8px -4px rgba(197, 197, 197, 0..08);
    cursor: pointer;
    transition: all 0.5s;
}

.card:hover {
    box-shadow: 0 8px 8px -4px rgba(0, 106, 255, 0.5);
}

.card h2 {
    font-size: 3.2rem;
}


.titleCard {
    width: 43%;
    height: auto;
    border-radius: 10px;
    color: #FCFAF7;
}

.titleCard img {
    max-width: 100%;
    object-fit: cover;
}

.titleCard h2 {
    font-weight: 500;
}

.postDetails h2 {
    font-size: 2rem;
    line-height: 2.6rem;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 10px;
}

.postDetails {
    width: 51%;
}

.postDetails h3 {
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 3.3rem;
    padding: 2% 0 4%;
}

.postDetails p {
    font-size: 2rem;
    font-weight: 300;
    display: inline-block;
    width: 90%;
    line-height: 2.6rem;
}

.postDetails h4 {
    font-size: 2rem;
    font-weight: 300;
    color: #434342;
}

.postDetails h4 span {
    font-size: 2rem;
    color: #434342;
    font-weight: 600;
    margin-right: 10px;
}